<form class="navbar-form navbar-right" name="formLogin"
	ng-controller="userCtrl" ng-submit="loginUser(login)"
	ng-show="!isUserlogged()">
	<div class="form-group">
		<input type="email" placeholder="Email" class="form-control"
			maxlength="150" required autofocus ng-model="login.username" />
	</div>
	<div class="form-group">
		<input type="password" placeholder="Password" maxlength="10"
			class="form-control" required ng-model="login.password" />
	</div>
	<button type="submit" class="btn btn-success">Sign in</button>
</form>