<form class="navbar-form navbar-right" name="formLogout"
	ng-controller="userCtrl" ng-submit="logout()" ng-show="isUserlogged()">
	<strong class="username"><a
		href="{{getUserlogged().memberType == 'PUBLISHER' ? '#/publisherDetail/'+getUserlogged().id : '#/subscriberDetail/'+getUserlogged().id}}">{{getUserlogged().name}}</a><strong>
			<button type="submit" class="btn btn-danger">Logout</button>
</form>