<div class="row jumbotron jumbotronForm">
	<form name="formMember" ng-submit="registerMember(member)">
		<h2>{{memberType == "PUBLISHER" ? "Publisher Register" :
			"Subscriber Register"}}</h2>
		<div class="form-group">
			<input type="text" placeholder="Name" class="form-control"
				ng-model="member.name" required maxlength="60" />
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email" class="form-control"
				ng-model="member.email" required maxlength="150" />
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password" class="form-control"
				ng-model="member.password" required maxlength="10" />
		</div>
		<div class="form-group">
			<input type="password" placeholder="Confirm password"
				class="form-control" ng-model="member.confirmPassword" required
				maxlength="10" />
		</div>
		<button type="submit" class="btn btn-success">Register</button>
		<a class="btn btn-danger" href="#/searchJournal">Cancel</a>
	</form>

</div>