<div>
	<table class="table table-striped" ng-show="publications.length > 0">
		<thead>
			<tr>
				<th>Title</th>
				<th>Speciality</th>
				<th>Edition</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="publication in publications">
				<td>{{publication.title}}</td>
				<td>{{publication.speciality.name}}</td>
				<td>{{publication.edition | date: 'yyyy/MM'}}</td>
				<td><a class="btn btn-xs btn-link"
					href="#/publicationView/{{publication.id}}">Preview</a> <a
					class="btn btn-xs btn-link"
					href="#/publicationDetail/{{publication.id}}"
					ng-show="isPublisherUser()">Edit</a></td>
			</tr>
		</tbody>
	</table>
</div>