<div ng-controller="searchJournalCtrl" ng-show="isUserlogged()">
	<div class="text-center col-lg-5 col-centered">
		<h2>Search a journal of your interest</h2>
		<div class="text-center">
			<form name="formSearch" ng-submit="searchPublications(search)">
				<div class="form-group">
					<input type="search" placeholder="topic" class="form-control"
						required maxlength="30" ng-model="search" />
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
	</div>
	<div class="row"
		ng-include="'/resources/view/public/searchJournalResult.html'"></div>
</div>