.col-centered{
    float: none;
    margin: 0 auto;
}

.jumbotronForm {
	width: 70%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.panelPublicationView{
	margin-top: 100px;
}

.text-right{
	float: right;
}

.username{
	color: white;
}