<div class="row jumbotron jumbotronForm">
	<form name="formPublication"
		ng-submit="uploadFileAndRegisterPublication()">
		<h2>Publication Register</h2>
		<div class="form-group">
			<input name="title" type="text" placeholder="Title"
				class="form-control" ng-model="publication.title" required
				maxlength="50" />
		</div>
		<div class="form-group">
			<textarea name="content" placeholder="Content" class="form-control"
				ng-model="publication.content" required maxlength="500"></textarea>
		</div>
		<div class="form-group">
			<select name="speciality" class="form-control"
				ng-model="idSpeciality"
				ng-options="speciality.id as speciality.name for speciality in specialities"
				required>
				<option value="">Select a speciality</option>
			</select>
		</div>
		<div class="form-group">
			<input name="edition" type="month" placeholder="Edition"
				class="form-control" ng-model="publication.edition" required />
		</div>
		<div class="form-group">
			<input name="file" type="file" placeholder="Select a file"
				class="form-control" required accept=".pdf" file-model="file" />
		</div>
		<button type="submit" class="btn btn-success">Register</button>
		<a class="btn btn-danger" href="#/searchJournal">Cancel</a>
	</form>
</div>