<div class="panel panel-primary panelPublicationView">
	<div class="panel-heading">
		<h3 class="panel-title">
			<span class="text-left">{{publication.title}}</span> <span
				class="text-right">{{publication.edition | date:'yyyy/MM'}}</span>
		</h3>
	</div>
	<div class="panel-body">
		<div>
			<strong>Publisher</strong> {{publication.publisher.name}}
		</div>
		<div>
			<strong>Speciality</strong> {{publication.speciality.name}}
		</div>
		<div>
			<strong>Content</strong> {{publication.content}}
		</div>
		<br>
		<div class="text-center">
			<a class="btn btn-success" ng-click="showPDF(publication.file)">View
				PDF</a> <a class="btn btn-danger" href="#/searchJournal">Cancel</a>
		</div>
	</div>
</div>